.Cabeçalho{
    background-color: darkgrey;
    height: 120px;
    display: flex;
     align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.Pagina-inteira{
    

}

.dropdown{
    background-color: aquamarine;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 19px;

}